## LAB-01

### Basics

In [1]:
print("Welcome KIITIANS")

Welcome KIITIANS

In [2]:
print("We are enjoying learning Python today!")

We are enjoying learning Python today!

In [3]:
# Single line comment
'''
Multiple 
line
Comments'''
print("A very Happy and Healthy New Year!")

A very Happy and Healthy New Year!

In [4]:
45+90

135

In [5]:
print(45>90)

False

In [7]:
x = 5
print(x)        # Printing the value of the variable
print(type(x))  # Printing the data type of the variable
      
y = 2.5
print(type(y))
t , f = True, False
print(type(t))

5
<class 'int'>
<class 'float'>
<class 'bool'>

In [8]:
x = 'Welcome to KIIT'

In [9]:
print(x)

Welcome to KIIT

In [10]:
# finding out the size of x: length of string variable
len(x)

15

In [11]:
type(x)

str

In [12]:
print(type(x))

<class 'str'>

In [14]:
#display x in upper case
print(x.upper())

WELCOME TO KIIT

In [15]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [16]:
# help command
help(str.upper)

Help on method_descriptor:

upper(self, /)
    Return a copy of the string converted to uppercase.

In [18]:
x.upper()

'WELCOME TO KIIT'

In [19]:
# capitalize the 1st letter
x.capitalize()

'Welcome to kiit'

In [20]:
x

'Welcome to KIIT'

In [21]:
x.lower()

'welcome to kiit'

In [22]:
# Python strings are immutable
x

'Welcome to KIIT'

### Indexing

In [23]:
x[0]

'W'

In [24]:
x[1]

'e'

In [25]:
# returns the last letter of the string
x[-1]

'T'

In [26]:
x[3]

'c'

### Slicing

In [32]:
# start index to last index 
x
x[0:15]

'Welcome to KIIT'

In [34]:
# all characters from c till k of x
x[3:12]

'come to K'

In [35]:
# starting from 4th position till the end
x[4:]

'ome to KIIT'

In [36]:
x[5:8]

'me '

In [37]:
# starting from beginning till 4th position
x[:4]

'Welc'

In [38]:
# starting from backwards
x[-4]

'K'

In [39]:
p = None
print(type(p))

<class 'NoneType'>

In [40]:
type(p)

NoneType

### Datatypes in Python

In [41]:
"""
1.int
2. float
3. bool
4. str
5. NoneType
"""

'\n1.int\n2. float\n3. bool\n4. str\n5. NoneType\n'

In [42]:
a, b, c, d, e = 20, 20.9, 6>8, "T&T Lab", None

In [43]:
print(type(a), type(b), type(c), type(d), type(e))

<class 'int'> <class 'float'> <class 'bool'> <class 'str'> <class 'NoneType'>

In [45]:
# check the version of Python
!python --version

Python 3.9.7

### Format

In [52]:
name = "Prajukta"
sub = "TTL-Lab"
section = "cse-32"
roll = 21052263

In [54]:
print("My name is {} and my roll is {} and I am from the section {} and now we're having our {}.".format(name, roll, section, sub))

My name is Prajukta and my roll is 21052263 and I am from the section cse-32 and now we're having our TTL-Lab.